h1{
    font-weight :2000;
    color : rgb(0, 0, 0);
    font-family : "Montserrat";
    font-size : 500%;
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.midCentered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blue-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: 5px solid lightblue;
    padding: 20px;
    box-sizing: border-box;
}
