.carre{
    margin:auto;
    width: 50%;
    height: 20%;
    text-align: center;
    background-color:gray;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
}

.container{
    margin:auto;
    width: 20%;
    background-color: rgb(255, 124, 124);
    border-color:black;
    border-width:3px;
}

h1{
    font-weight :3000;
    color : rgb(0, 0, 0);
    font-family : "Montserrat";
    font-size : 5000%;
    text-align: center;
 }
