<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="/CSS/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

    <title>This or That</title>

</head>

<body>
    <h1 class="text-4xl font-bold">
        This or That
    </h1>

    <h1 class="text-1xl font-bold">
        The Game
    </h1>

    <div class="bigSeparator"></div>
    <div class="bigSeparator"></div>

    <div class="centered">

        <div class="form">
            <div class="input-container">
                <label for="name">Nom :</label>
                <input type="text" id="name" required>
            </div>

            <div class="littleSeparator"></div>

            <div class="input-container">
                <label for="email">Email :</label>
                <input type="text" id="email" required>
            </div>

            <div class="littleSeparator"></div>

            <div class="input-container">
                <label for="password">Mot de passe :</label>
                <input type="password" name="password" id="password" required />
            </div>

            <div class="littleSeparator"></div>

            <div>
                <button class="button" id="formSubmissionButton" onClick="onClickRegisterFormSubmission()">Créer son compte!</button>
            </div>


            <div class="bigSeparator"></div>

            <div id="start" class="button">
                <a href="/index.html">Se connecter</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/JS/accountCreation.js"></script>

</body>

</html>