h1 {
    font-weight: 2000;
    color: rgb(0, 0, 0);
    font-family: "Inter";
    font-size: 500%;
    text-align: center;
}

.centered {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midCentered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blue-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: 5px solid lightblue;
    padding: 20px;
    box-sizing: border-box;
}

body {
    font-family: "Inter";
    background-color: #919191;
}

.input-container {
    position: relative;
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.input-container label {
    position: absolute;
    left: 10px;
    top: -10px;
    background-color: #e0e0e0;
    color: #555;
    padding: 0 5px;
    font-size: 14px;
    border-radius: 5px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #616161;
    border-radius: 12px;
    outline: none;
    box-sizing: border-box;
}

.button {
    position: relative;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #4285f4;
    border-radius: 24px;
    outline: none;
    box-sizing: border-box;
    text-align: center;
}

.button:hover {
    background-color: #3367d6;
    /* Couleur de fond au survol */
}